.strength__container {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    .strength {
        flex: 1 1;
        height: 10px;
        background-color: #cccccc;
        max-width: 32%;
        &.weak {
            background-color: red;
        }
        &.good {
            background-color: orange;
        }
        &.strong {
            background-color: green;
        }
    }
}
.strength__label {
    font-size: 12px;
}
