.registration__form {
    border: 1px solid #282c34;
    padding: 10px;
}
@media (min-width: 1025px) {
    .registration__form {
        width: 400px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .registration__form {
        width: 80%;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .registration__form {
        width: 90%;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    .registration__form {
        width: 100%;
        margin: 5px;
    }
}
@media (max-width: 319px) {
    .registration__form {
        width: 100%;
        margin: 0;
    }
}
